<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>

    <p> Prime Factors of <%= @x %> are: </p>

    <p>y is <%= @y %></p>
    <p> <%= for key <- @y do %>
      <p><%= key %></p>
    <% end %>
    </p>
  </div>
</div>
