<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>
    <p> (I was not able to implement proper prime factoring, but displayed is a list of some factors) </p>

    <p> Prime Factors of <%= @x %> are: </p>

    <p>y = <%= @y %></p>

    <p> <%= for key <- @y do %>
      <p><%= key %></p>
    <% end %>
    </p>
  </div>
</div>
